In [11]:
# passing marks of a subject is 35. Write a program to take input of marks secured from user and print "True" if marks are greater than passing marks, otherwise print "False".
sub = int(input("enter the sub"))
if sub >=35:
    print("ture")
else:
    print("false")

enter the sub 34

false

In [6]:
#Write a Python program to get the difference between the two lists.
l1 = [1, 2, 3, 4]
l2 = [1, 2]
l3 = set(l1) - set(l2)
print(list(l3))

[3, 4]

In [16]:
#Write a program to take a number and print "True" if the given number is odd, otherwise print "False".
num = int(input("enter the number"))
if num % 2 != 0:
    print("false")
else:    
    print("ture")

enter the number 22

ture

In [18]:
#Write a program to take two inputs from user and print "True" if they are equal, otherwise print "False".
a = int(input()) 
b = int(input())
if a == b:
    print("true")
else:
    print("flase")

 2
 2

true

In [26]:
#Write a program to take two numbers as input and check whether the sum is greater than 5, less than 5 or equal to 5.
a = 12 
b = -5
s = a+b
if s >= 5:
    print("true")
else:
    prinr("false")

true

In [1]:
#Write a program to take 3 inputs from user and check : all are equal ; any of two are equal (use and, or).
n1 = 12
n2 = 25
n3 = 12
if n1 == n2 and n2 == n3:
    print("equal")
elif n1 == n2 or n1 == n3:
    print("not equal")

not equal

In [3]:
#Write a program to take an integer as input from the user and print "True" if the number is even multiple of 7 otherwise print "False".
a = int(input())
x = a/7
if x%2 == 0:
    print("ture")
else:
    print("false")

 14

ture

In [12]:
# Write a program to swap two variables without using extra variables.

a = 2
b = 3
a,b = b,a
print(a)
print(b)

3
2

In [3]:
#Assume that the variable x has the value 55. Write a program to increment the value of x by 3 using an short hand assignment operator.
x=55
x+=3
print(x)

58

In [22]:
#Write a program to calculate the average of three numbers.
a = 55
b = 60
c = 65
d = (a+b+c) / 3
print(d)

60.0

In [31]:
#Write a program to calculate the square root of a number.
x = int(input())
a = x ** (1/2)
print(a)

 5

2.23606797749979

In [31]:
# Write a program that calculates number of seconds in a day.
a = 24 # hours
m = 60 # mints
s = 60 # seconds
d = a * m * s
print(d)

86400

In [33]:
a = 5
pi = 3.14
d = pi*a**2
print(d)

78.5

In [36]:
# Write a program that asks the user to enter a power. Then find the last digit of 2 raised to that power.
x = int(input())
y = 2**x 
z = y%10
print(z)

 6

4

In [47]:
#Write a program that asks the user for a number of seconds and prints out how many minutes and seconds that is. For instance, 200 seconds is 3 minutes and 20 seconds.
a = int(input("enter a seconds"))
b = a // 60
c = a % 60
print(f" {b} minutes and {c} seconds")

enter a seconds 350

 5 minutes and 50 seconds

In [4]:
#Write a program to accept a number from the keyboard and if the number is even, print "EVEN" otherwise print "ODD".
n = int(input("enter  n value: "))
if n % 2 == 0:
    print("even")
else:
    print("odd")

enter  n value:  55

odd

In [23]:
# Write a program to take a line of text and a string and print "True" if the string exits in the line of text otherwise print "False".
s =  "prabhas  radha shyam"
s1 = "prabhas"
if s1 in s :
    print("s is ture")
else:
    print("s is false")

s is ture

In [33]:
#Write a program that asks the user to enter a word and prints out whether that word contains any vowels.
w = (input("enter a w"))
if "a" in w:
    print("ture")   
elif "e" in w:
    print("ture")
elif "i" in w:
    print("ture")
elif "o" in w:
    print("ture")
elif "u" in w:
    print("ture")
else :
    print("false")

enter a w prabhas, sky

ture

In [35]:
#Write a program to check whether an alphabet is a vowel or consonant.
ch = input("Enter a character: ")

if(ch=='A' or ch=='a' or ch=='E' or ch =='e' or ch=='I'
 or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print(ch, "is a Vowel")
else:
    print(ch, "is a Consonant")

Enter a character:  sai annam

sai annam is a Consonant

In [10]:
#Write a program that asks the user for two numbers and prints Close if the numbers are within .001 of each other and Not close otherwise.
n1 = int(input("enter n1:"))
n2 = int(input("enter n2:"))
if n1+0.001 == n2:
    print("close")
elif n2+0.001 == n1:
    print("close")
else:
    print("not close")

enter n1: 55
enter n2: 66

not close

In [54]:
## Write a program to take input of age of 3 people from user and determine the oldest and the youngest among them.
n1 = int(input("enter age"))
n2 = int(input("enter age"))
n3 = int(input("enter age"))
if  n1 > n2 and n1 > n3:
    print("n1 old")
if n2 > n1 and n2 > n3:
    print("n2 old")
if n3 > n1 and n3 > n2:
    print("n3 old")
if n1 < n2 and n1 < n3:
    print("n1 young")
if n2 < n3 and n2 < n1:
    print("n2 young")
else:
    print("n3 young")

enter age 12
enter age 33
enter age 5

n2 old
n3 young

In [66]:
n = int(input("enter a number:"))
if n % 2 == 0:
    print("even number")
else:
    print("odd number")

enter a number: 21151461

odd number

In [1]:
#Write a program to accept maximum of 6 digits number and print out the sum of even digits of that number and multiplication of odd digits of that number.
n =int(input("enter a six digits number:"))
a = 0
c = 1
if n>99999:
    while n > 0:
         b = n % 10 
    if(b%10== 0):
        a += b
    else:
        c *= b
        n//= 10
print("sume of six digits even:",a)
print("product of six digits odd",c)
else: 
        print("Not a six digit number")

SyntaxError: invalid syntax (Temp/ipykernel_26232/3591093465.py, line 15)

In [22]:
#Write a program to check whether the given year is leap year or not.
n = int(input("enther the year:"))
if n % 4 == 0 and n % 100 !=0:
    print(n,"leap  year")
elif n % 100 == 0:
    print(n,"not a leap year")
elif n % 400 == 0:
    print(n,"leap year")
else:
    print(n,"not a leap year")

enther the year: 2000

2000 not a leap year

In [25]:
#Write a program to check a triangle is equilateral, isosceles or scalene.
x = int(input("x:"))
y = int(input("y:"))
z = int(input("z:"))
if x == y == z:
    print("equilateral")
elif x==y or y==z or z == x:
    print("isosceles")
else:
    print("scalence")

x: 5
y: 6
z: 7

scalence

In [7]:
#Write a program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700.
n = int(input("enter a value: ")
x = 1500
while x <= 2700:
    if x % 7 == 0 and x % 5 == 0:
        print(x)
        x += 1

SyntaxError: invalid syntax (Temp/ipykernel_20052/381923119.py, line 3)

In [3]:
x = 1500
while x < 2701:
        if x % 7 == 0 and x % 5 == 0:
            print(x, end = ' ')
        x += 1

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

In [7]:
#Write a program to prompt the user for a temperature and what units (Celsius or Fahrenheit) the temperature is in and print the temperature by converting into the other unit. [Hint:- F = 95 C + 32 and C = 9 5 (F − 3\
f = int(input())
c = (f-32)*5/9
cx = int(input())
fx = (1.8*cx) + 32
print(c)
print(fx)

 55
 66

12.777777777777779
150.8

In [15]:
#A store charges Rs.12 per item if you buy less than 10 items. If you buy between 10 and 99 items, the cost is Rs.10 per item. If you buy 100 or more items, the cost is Rs.7 per item. Write a program that asks the user how many items they are buying and prints the total cost.
n = int(input("enter the value :")) 

if n <= 10:
    c = n*12
    print(c)
elif n >= 10 and n <= 100:
    c = n * 10
    print(c)
elif n > 100:
    c = n * 7
    print(c)

enter the value : 201

1407

In [3]:
# A shop will give discount of 10% if the cost of purchased quantity is more than 1000. Suppose, one unit will cost 100. Write a program to prompt the user for quantity and print the total cost for user.
n = int(input("enter the value:"))
x = n * 100
if x >= 1000:
    d = 0.1 * x 
    f =  x - d
print(f)

enter the value: 15

1350.0

In [7]:
#A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Write a program that prompt the user for their salary and year of service and print the net bonus amount.
n = int(input("enter the value:"))
s = int(input("enter the value:"))
if n > 5:
    b = (0.05 * s) + s
    print(b)

enter the value: 8
enter the value: 50000

52500.0

In [13]:
#A student will not be allowed to sit in exam if his/her attendance is less than 75%. Write a program to take the number of classes held, the number of classes attended as inputs and calculate the percentage of class attended. If the user attendance is less than 75%, ask the user if he/she has medical cause or not ( 'Y' or 'N' ). If response is 'Y', print he/she is eligible to sit in the exam, otherwise print he/she is not eligible to sit in the exam.
a = int(input())
b = int(input())
p = (a*100)/b
if p >= 75:
    print("allow the exma")
else:
    print("not allow the exam")

 75
 75

allow the exma

In [10]:
#Write a 'while' loop that prints integers from zero to 5.
i = 1
while i <= 5:
    print(i, end = " ")
    i += 1

1 2 3 4 5

In [7]:
#Write a 'while' loop that starts at the last character in the string and works its way backwards to the first character in the string, printing each letter on a separate line, except backwards.
n = input()
i = len(n)-1

while i >= 0:
    print(n[i], end= "")
    i -= 1

 45

54

In [1]:
n = input()
i = len(n)

while i > 0:
    print(n[i-1])
    i -= 1

 sai

i
a
s

In [ ]:
# Write a program that asks the user to enter a number and prints out all the divisors of that number.
n = int(input())
i = 1
while n >= 0:
    if n % i ==0:
        print(i) 
    i+=1

 33

1
3
11
33

In [12]:
#Write a program that asks the user to enter a number and prints out all the divisors of that number.
n = int(input())
f = 1
i = 1
while i <= n: 
    f = f * i

    i += 1
print(f)

 5

120

In [12]:
#Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.
import math

n = int(input())
m = int(input())

math.gcd(n, m)

 25
 5

5

In [11]:
#Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.
n = int(input())
m = int(input())
l1 = [] 
l2 = []

for i in range(1, n+1):
    if n % i == 0:
        l1.append(i)
    
for i in range(1, m+1):
    if m % i == 0:
        l2.append(i)
        
max(set(l1) & set(l2))

 25
 5

5

In [ ]:
#Write a program to take integer inputs from user until he/she presses q and print the average and product of all those numbers.
n = int(input())
m = int(input())
o = int(input())
i = 1
c = 0
while n>= 0

In [2]:
#Write a progn ram to print the data type of your name and age.
n = input("enter the name:")
a = int(input("enter the age:"))
x = n , a
print(x)

enter the name: sai
enter the age: 23

('sai', 23)

In [11]:
#Write a program to calculate the sum and product of two integers and print the data type of the sum and product of those integers.
n = int(input())
m = int(input())
x = n + m
y = n * m

print(type(x))
print(x)
print(y)
print(type(y))

 55
 66

<class 'int'>
121
3630
<class 'int'>

In [13]:
#Write a program that prompts the user for his or her name and print the welcome message with user's input on the screen (console or shell).
n = input("enter the name")
print("welcome",n)

enter the name sai

welcome sai

In [14]:
#Write a program to prompt the user for a number and print the cube of that number.
n = int(input())
s = n ** 3
print(s)

 3

27

In [22]:
#Write a program to take name, roll number and branch as input from user and print it.
name = input("enter the name")
roll = int(input("enter the roll"))
branch = input("enter the branch")
print(f"Hey, my name is {name} and my roll number is {roll}. My branch is {branch}")

enter the name sai
enter the roll 21
enter the branch maths

Hey, my name is sai and my roll number is 21. My branch is maths

In [25]:
#Write a program to prompt the user for the price of the meal and the percent tip they want to leave and then print both the tip amount and the total bill with the tip included.
p_m = int(input("enter the price of meal:"))
y = int(input())
z = y/100
p_t = z * p_m
x = p_t + p_m
print(x)

enter the price of meal: 550
 10

605.0

In [29]:
#Write a program to prompt the user for hours and rate per hour to compute and print gross pay.
rate = int(input("enter the rate:"))
hours = float(input("enthe the hours:"))
x = rate * hours
print(x)

enter the rate: 550
enthe the hours: 2

1100.0

In [34]:
#Write a program to take an integer as input from the user and print "True" if the number is even multiple of 7 otherwise print "False".
x = int(input())
y = x/7
if y % 2 == 0:
    print("even")
else:
    print("odd")

 21

odd

In [37]:
#Write a program to read a string and a character as two inputs. Then print "True" if character exists in the string otherwise print "False".
a = input()
b = input()
if b in a:
    print("true")
else:
    print("false")

 annma sai
 a

true

In [44]:
#Write a program that prompts user to enter his first name and last name and print a message "Greetings!!! First name Last name"
a = input()
b = input()
print("greeting:", a,b)

 tiger
 naveen

greeting: tiger  naveen

In [48]:
#Write a program to take a line of text and a string and print "True" if the string exits in the line of text otherwise print "False".
a = input()
b = input()
if b in a:
    print("true")
else:
    print("false")

 naveen is tiger of python
 naveen is tiger

true

In [2]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [4]:
i=1
while i<11:
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [8]:
#Write a program to print the data type of your name and age.
name = input()
age = int(input())
print(name,age)
#print(age)

 sai
 22

sai 22

In [9]:
#Write a program to calculate the sum and product of two integers and print the data type of the sum and product of those integers.
n = int(input())
m = int(input())
a = n+m
b = n*m
print(a,b)

 55
 66

121 3630

In [8]:
#Write a program that prompt the user for their name and how many times to print it. The program should print out the user’s name the specified number of times.
n = input()
m = int(input())
print(n*m,end=" ")

 sai
 5

sai sai sai sai sai

In [21]:
#Write a program that prompt the user for a string and prints out all the location(index) of each 'a' in the string. If 'a' doesn't exist, print "None".
n = input()
a = 'a'
l = []
for i in range(len(n)):
    
    if (n[i]== a):
        l.append(i)
        
print(l)

 sai krishna

[1, 10]

In [3]:
#Write a program that prompt the user for their name and how many times to print it. The program should print out the user’s name the specified number of times.
s = input()
a = int(input())
print(s*a)

 sai
 2

saisai

In [1]:
#Write a program that prompt the user for their name and prints it in the funny pattern as given in the example below.
i = 0
s1 = input()

while i != len(s1):
    print(s1[:i+1], end=",")
    i += 1 

print("The End")

 sai annam

s,sa,sai,sai ,sai a,sai an,sai ann,sai anna,sai annam,The End

In [8]:
#Write a program that prints out all the integers from 1 to 20 and their squares.
n = int(input())
for i in range(1,21):
    
    print(i,i*i, end="/ ")

 5

1 1/ 2 4/ 3 9/ 4 16/ 5 25/ 6 36/ 7 49/ 8 64/ 9 81/ 10 100/ 11 121/ 12 144/ 13 169/ 14 196/ 15 225/ 16 256/ 17 289/ 18 324/ 19 361/ 20 400/

In [9]:
#Write a program to read a line of text as input from the user and print the count of space characters(' ') in the text entered.n =
n = input()
c = 0
for i in n:
    if i == " ":
        c += 1
print(c)

 dfgsd sthrts rtshrts rtshrst rsthrst hrts hrtsgh

6

In [14]:
#Write a program that uses a 'for' loop to print the numbers 8, 11, 14, 17, 20, . . . , 83, 86, 89.

for i in range(8,90,3):
    print(i, end=" ")

8 11 14 17 20 23 26 29 32 35 38 41 44 47 50 53 56 59 62 65 68 71 74 77 80 83 86 89

In [21]:
#Write a program that uses a 'for' loop to print the numbers 8, 11, 14, 17, 20, . . . , 83, 86, 89.

for i in range(100 ,1 ,-2):
    print(i, end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [4]:
#Write a program that uses a 'for' loop to print numbers from 10 to 1 in descending order.
for i in range(10,0,-1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [15]:
#Write a program that counts how many of the squares of the numbers from 1 to 1000 end in a 1.

c = 0
for i in range(1,1000):
    if (i * i) % 10 == 1:
        c+=1
print(c)

200

In [18]:
#Write a program that counts how many of the squares of the numbers from 1 to 1000 end in a 4 and how many end in a 9.
c = 0
for i in range(1,1000):
    if (i * i) % 10 ==4 or (i *1) % 10 ==9:
        c+=1
print(c)

300

In [22]:
#Write a program to find all numbers between 1 and 1000 that are divisible by 7 and end in a 6.
for i in range(1,1000):
    if i % 7 ==0 and i % 6 ==0:
        print(i, end=" ")

42 84 126 168 210 252 294 336 378 420 462 504 546 588 630 672 714 756 798 840 882 924 966

In [24]:
#Write a program to determine how many of the numbers between 1 and 10000 contain the digit 3.
c = 0
for i in range(1,10000):
    if '3' in str(i):
        c+=1
print(c)

3439

In [38]:
#Write a program that creates the list [1,11,111,1111,...,111...1] , where the entries have an ever increasing number of ones, with the last entry having 100 ones.
l = []
for i in range(1, 10):
    l.append('1'*i)
l

['1',
 '11',
 '111',
 '1111',
 '11111',
 '111111',
 '1111111',
 '11111111',
 '111111111']

In [22]:
print([int('1'*i) for i in range(1, 10)])

[1, 11, 111, 1111, 11111, 111111, 1111111, 11111111, 111111111]

In [42]:
l2=[]
for i in l:
    x = int(i)
    l2.append(x)
print(l2)

[1, 11, 111, 1111, 11111, 111111, 1111111, 11111111, 111111111]

In [43]:
#Write a program that creates the list [1,11,111,1111,...,111...1] , where the entries have an ever increasing number of ones, with the last entry having 100 ones.
l = [] 
for i in range (1,10):
    l.append('1'*i)
    
l2 = []
for i in l:
    x = int(i)
    l2.append(x)
print(l2)

[1, 11, 111, 1111, 11111, 111111, 1111111, 11111111, 111111111]

In [14]:
#Write a program to display the stars in an equilateral triangular form using a single for loop.
c = 5
for i in range(5):
    print(' '*(i-c), end=' ')
    c -= 1
    print('*'*i)

 *
 **
  ***
    ****

In [1]:
n = int(input())
for i in range(1, n+1):
    for j in range(i, n):
        print(' ', end=' ')
    for k in range(1, i+1):
        print('*', end=' ')
    for l in range(1, i):
        print('*', end=' ')
    print()

 6

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [25]:
#Using break statement, write a 'while' loop that prints integers from zero to 15.
n = int(input())
i = 0
while i < n:
    i += 1
    print(i,end=" ")
    if i == 15:
        break

 66

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [6]:
#Using continue statement, write a 'while' loop that processes only even integers from 0 to 10.
n = int(input())
i = 0
while i <= n:
    i += 1
    if i % 2 != 0:
        continue
    print(i, end=" ")

 8

2 4 6 8

In [5]:
#Using continue statement, write a 'for' loop that takes a list of integers and triples each integer that is even.
n = int(input())
i = 0
while i <= n:
    i += 1
    if i % 2 != 0:
        continue
    print(i * 3,end=" ")

 30

6 12 18 24 30 36 42 48 54 60 66 72 78 84 90

In [11]:
n = [5, 8, 1, 6, 31, 14, 0, 23, 42]
s = 0
for i in n:
    s += i
    print(i)
    if i == 0:
        break
print(s)

5
8
1
6
31
14
0
65

In [ ]:
*
* *
* * *
* * * *
* * * * *

In [3]:
n = int(input())
for i in range (1,n+1):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

 6

*
* *
* * *
* * * *
* * * * *
* * * * * *

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

 10

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [ ]:
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [6]:
n = int(input())
d = n
for i in range (1, n+1):
    for j in range(1,i+1):
        print(d,end=" ")
        d -= 1
    d = n
    print()

 5

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
10
1 2
10 9
3 4 5
10 9 8

In [ ]:
n = int(input())
10
10 9
10 9 8

10
1 2
10 9 8
1 2 3 4
10 9 8 7 6

In [37]:
l = [[0]*n for i in range(n)]
l

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [38]:
n = int(input())
l = [[0]*n for i in range(n)]

for j in range(1, n+1):
    for k in range(1, j+1):
        print(j-1, k-1)
    print()

 5

0 0

1 0
1 1

2 0
2 1
2 2

3 0
3 1
3 2
3 3

4 0
4 1
4 2
4 3
4 4

In [4]:
from copy import deepcopy

n = int(input())
l = [[0]*n for i in range(n)]
l1 = deepcopy(l)

d = n
for j in range(1, n+1):
    for k in range(1, j+1):
        l[j-1][k-1] = d
        d -= 1
    d = n
    for k in range(1, j+1):
        l1[j-1][k-1] = k
    
    
l3 = [['' if j == 0 else j for j in i] for i in l]
l4 = [['' if j == 0 else j for j in i] for i in l1]

for i in range(len(l3)//2):
    print(*l3[i])
    print(*l4[i+1])

 10

10
1 2
10 9
1 2 3
10 9 8
1 2 3 4
10 9 8 7
1 2 3 4 5
10 9 8 7 6
1 2 3 4 5 6

In [3]:
l = [[1, 2, 3],
    [4, 5, 6]]
for i in l:
    for j in i:
        print(j)

1
2
3
4
5
6

In [4]:
n = 5
l = [[0]*n for i in range(n)]
c = 1
for j in range(len(l)):
    for k in range(len(l[0])):
        l[j][k] = c
        c += 1
l

[[1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25]]

In [8]:
l = []
for i in range(3, 99, 3):
    l.append(i)
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96]

In [20]:
l =['a', 'b', 'c', 'd']
l1 = "".join(l)
l1

'abcd'

In [41]:
#Write a program to read a string from the user and print the list of characters in the string.
l = "abcd"
l1 = list(l)
print(l1)

['a', 'b', 'c', 'd']

In [62]:
#Write a program to read a string from the user and print the list of characters in the string.
c1 = ["Red", "Green", "Orange", "White"]
c2 = ["Black", "Green", "White", "Pink"]
k = set(c1) & set(c2)
print(k)

{'Green', 'White'}

In [7]:
#Write a Python program to get the difference between the two lists.
l1 = [1, 2, 3, 4]
l2 = [1, 2]
l3 = set(l1) - set(l2)
print(list(l3))

[3, 4]

In [8]:
#Write a Python program to get the largest number from a list.
l1 = [1, 2, -8, 0]
max(l1)
print(max(l1))

2

In [12]:
#Write a Python program to find the second smallest number in a list.
l1 = [1, 2, -8, -2, 0]
l1.sort()
min(l1)
print(l1[1])

0

In [13]:
#Write a Python program to remove duplicates from a list.
l1 = [10,20,30,20,10,50,60,40,80,50,40]
l2 = set(l1)
print(l2)

{40, 10, 80, 50, 20, 60, 30}

In [15]:
#Write a Python program to sum all the items in a list.
l1 = [1, 2, -8]
k = sum(l1)
print(k)

-5

In [17]:
#Write a Python program to multiply all the items in a list.
l1 = [1, 2, 3, 4]
p = 1
for i in l1:
    p *= i
print(p)

24

In [32]:
#Write a program to find difference between sum of even indexed and odd indexed numbers in a list of numbers. [Note:- Consider 0th index as even indexed]
l1 = [2, 4, 3, 9, 13, 12, 7, 6, 1, 5]
print(sum(l1[0::2]) - sum(l1[1::2]))

-10

In [66]:
#Write a program to print the list of numbers which are greater than the average of numbers in the following list.
# Sample Input
l1 = [2, 4, 3, 9, 13, 12, 7, 6, 1, 5]
m = (sum(l1))/len(l1)
l2 = []
for i in l1:
    if i > m:
        l2.append(i)
l2

[9, 13, 12, 7]

In [3]:
#Write a program to print a new list containing squares of each element in the following list.
# Sample Input
l1 = [3, 7, 11, 12, 17, 21]
l2 = []
for i in l1:
    l2.append(i*i)
print(l2)

[9, 49, 121, 144, 289, 441]

In [ ]:
import

In [8]:
#Write a program to know how many times an element occurred in the list.
# Sample Input
from collections import Counter

l1 = [5, 10, 15, 20, 25, 50, 20]
d = Counter(l1)
element = int(input('enter element: '))

print(d[element])

enter element:  20

2

In [24]:
l1 = [5, 10, 15, 20, 25, 50, 20]
k = l1.count(20)
k

2

In [21]:
#Given a Python list, write a program to find the value 20 in the list, and if it is present, replace the first occurrence of a value with 200.
# Sample Input
l1 = [5, 10, 15, 20, 25, 50, 20]
l1[3] = 200
print(l1)

[5, 10, 15, 200, 25, 50, 20]

In [37]:
#Given an input list, write a program to remove the element at index 4 and add it to the 2nd position and also, at the end of the list.
# Sample Input
l1= [54, 44, 27, 79, 91, 41]
k = l1.pop(4)
l1.insert(1, k)
l1.append(k)
l1

[54, 91, 44, 27, 79, 41, 91]

In [58]:
#Two lists are given below. Write a program to create a third list by picking an odd-index element from the first list and even index elements from second.
# Sample Input
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3 = []
k = l1[1::2]
k1 = l2[0::2]
#kk = k + k1
l3.extend(k)
l3.extend(k1)
l3

[6, 12, 18, 4, 12, 20, 28]

In [96]:
#Write a program to add 7000 after 6000 in the following list.
# Sample Input
l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
k = l1[2][2]
k.append(7000)
l1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [1]:
#Write a program to insert a new element into tuple of elements at a specified position.
t = (2,4,5,6,8,5,7)
l = list(t)
l.insert(3,50)
l

[2, 4, 5, 50, 6, 8, 5, 7]

In [27]:
#Write a program to count the number of even and odd numbers from a tuple of numbers.
# Input
t = (1, 2, 3, 4, 5, 6, 7, 8, 9)
c = 0
c1 = 0
for i in t:
    if i % 2 == 0:
        c += 1
    else:
        c1 += 1
print("even numbers:", c)
print("odd numbers:", c1)

even numbers: 4
odd numbers: 5

In [30]:
#Write a program to remove duplicates from tuple.
t = (1,8,9,2,4,8,1,6,8,9,2)
t1 = set(t)
t1

{1, 2, 4, 6, 8, 9}

In [40]:
#Write a program to modify or replace an existing element of a tuple with a new element.
t = (1,2,3,4,5,6,7,8,9,10)
t1 = list(t)
t1[2] = 5
t1

[1, 2, 5, 4, 5, 6, 7, 8, 9, 10]

In [53]:
#Write a program to find Dissimilar Elements in Tuples.
t1 = (3, 4, 5, 6)
t2 = (5, 7, 4, 10)
k = set(t1) ^ set(t2)
tuple(k)

(3, 6, 7, 10)

In [70]:
#Write a program for addition of tuples.
t1 = (10, 4, 5)
t2 = (2, 5, 18)
l = []
for i in range(len(t1)):
    l.append(t1[i] + t2[i])
    
tuple(l)

(12, 9, 23)

In [74]:
#Write a program to sort the following employ data (list of tuples) as per their salaries (each tuple represents employ ID, name, age and salary)?
data = [(1234, 'Abishek' , 32, 35000),
        (4532, 'Barathi', 27, 29000), 
        (3455, 'Charan', 31, 37000), 
        (9863, 'Devi', 42, 52000), 
        (4852, 'Eswar', 37, 56000), 
        (6481, 'Fathima', 40, 65000), 
        (2793, 'Ganesh', 28, 45000)]
x = sorted(data,key = lambda x:x[3], reverse =True)
for i in x:
    print(i)

(6481, 'Fathima', 40, 65000)
(4852, 'Eswar', 37, 56000)
(9863, 'Devi', 42, 52000)
(2793, 'Ganesh', 28, 45000)
(3455, 'Charan', 31, 37000)
(1234, 'Abishek', 32, 35000)
(4532, 'Barathi', 27, 29000)

In [82]:
#Write a program to count the number of students has computers a one subject from the data given below.
students = [ ("John", ["Computers", "Physics","Maths"]), 
            ("Wasim", ["Maths", "Computers", "Statistics"]), 
            ("Naresh", ["Computers", "Accounting", "Economics"]), 
            ("SaiTeja", ["English", "Accounting", "Economics", "Law"]), 
            ("Sravani", ["Sociology", "Economics", "Law", "Stats", "Music"])]
comp = []
if "Computers" in students[0][1]:
    comp.append(students[0][0])
if "Computers" in students[1][1]:
    comp.append(students[1][0])
if "Computers" in students[2][1]:
    comp.append(students[2][0])
if "Computers" in students[3][1]:
    comp.append(students[3][0])
if "Computers" in students[4][1]:
    comp.append(students[4][0])
print(len(comp))
print(comp)

3
['John', 'Wasim', 'Naresh']

In [13]:
#### Write a program to prompt the user to give name and marks of 5 different students, store them in dictionary and print it after sorting the dictionary with respect to their marks.
d = dict()
for i in range(0,5):
    d[input()] = int(input())

dict(sorted(d.items(), key=lambda x: x[1], reverse=True))

 35
 sai
 45
 krishna
 55
 kumar
 65
 venkat
 75
 prudhvi

{'prudhvi': 75, 'venkat': 65, 'kumar': 55, 'krishna': 45, 'sai': 35}

In [23]:
#Use the dictionary given below whose keys are month names and whose values are the number of days in the corresponding months.
#(a) Ask the user to enter a month name and use the dictionary to tell them how many days are in the month.
#(b) Print out all of the keys in alphabetical order.
#(c) Print out all of the months with 31 days.
d = { ' January ' : 31, ' February ' : 28, ' March ' : 31, ' April ' : 30,
' May ' : 31, ' June ' : 30, ' July ' : 31, ' August ' : 31,
' September ' : 30, ' October ' : 31, ' November ' : 30, ' December ' : 31}
d[input()]

  January

31

In [47]:
a = d.items()

list

In [54]:
a1 = list(a)
a1.sort()
a1

[(' April ', 30),
 (' August ', 31),
 (' December ', 31),
 (' February ', 28),
 (' January ', 31),
 (' July ', 31),
 (' June ', 30),
 (' March ', 31),
 (' May ', 31),
 (' November ', 30),
 (' October ', 31),
 (' September ', 30)]

In [19]:
days[' ' + input('Enter any month: ') + ' ']

Enter any month:  November

30

In [29]:
for i in a:
    if i[1]==31:
        print(i)

(' January ', 31)
(' March ', 31)
(' May ', 31)
(' July ', 31)
(' August ', 31)
(' October ', 31)
(' December ', 31)

In [13]:
#Write a program to count the number of characters (character frequency) in a string.
# Sample Input
x = input()
d = {}
for i in x:
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
d

 google

{'g': 2, 'o': 2, 'l': 1, 'e': 1}

In [1]:
#Write a program to count the number of occurrences
#of each letter in word "MISSISSIPPI".
#Store count of every letter with the letter
#in a dictionary and print the sorted dictionary according to the count of letters.

In [17]:
s = "MISSISSIPPI"
d ={}
for i in s:
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1

print(dict(sorted(d.items(), key = lambda x:x[1])))

{'M': 1, 'P': 2, 'I': 4, 'S': 4}

In [15]:
#Write a program to count the occurrences of each word in the text given below.
s ="""Through three cheese trees three free fleas flew.
     While these fleas flew, freezy breeze blew.
     Freezy breeze made these three trees freeze.
     Freezy trees made these' trees cheese freeze.
     That's what made these three free fleas sneeze"""
d = {}
l = s.upper()
l1 = l.split()
for i in l1:
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1
print(d)

{'THROUGH': 1, 'THREE': 4, 'CHEESE': 2, 'TREES': 4, 'FREE': 2, 'FLEAS': 3, 'FLEW.': 1, 'WHILE': 1, 'THESE': 3, 'FLEW,': 1, 'FREEZY': 3, 'BREEZE': 2, 'BLEW.': 1, 'MADE': 3, 'FREEZE.': 2, "THESE'": 1, "THAT'S": 1, 'WHAT': 1, 'SNEEZE': 1}

In [7]:
#Write a program to get the frequency of the elements in a list.
# Sample Input
l = [10, 10, 10, 10, 20, 20, 20, 20, 40, 40, 50, 50, 30]
d = {}
for i in l:
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1
d

SyntaxError: invalid non-printable character U+2003 (2158567324.py, line 3)

In [13]:
l = [2, 2, 4, 40, 40, 6, 2]
d = {}
for i in l:
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1
d

{2: 3, 4: 1, 40: 2, 6: 1}

In [1]:
l = [10,10,10,10,10,20,20,20,20,40,40,50,50,30]
d = dict()
for i in l:
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1
d

{10: 5, 20: 4, 40: 2, 50: 2, 30: 1}

In [1]:
l = []
d = {}
for i in range(1, 10):
    l.append(int(input()))
for j in l:
    if j not in d:
        d[j] = 1
    else:
        d[j] += 1
d

 5
 6
 39
 2
 2
 3
 6
 5
 8

{5: 2, 6: 2, 39: 1, 2: 2, 3: 1, 8: 1}

In [7]:
#Write a program to concatenate following dictionaries to create a new one.
# Sample Input
dic1 = {1 : 10, 2 : 20}
dic2 = {3 : 30, 4 : 40}
dic3 = {5 : 50, 6 : 60}
d = dic1.update(dic2)
d1 = dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
#Write a program to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square o
d = dict()
for i in range(1,16):
    d[i] = i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [1]:
#Write a Python program to print the sum all the values in a dictionary.
# Sample Input
s = {'data1' : 100, 'data2' : 54,'data3' : 247}
k = (s.items(), key = lambda x:sum(x[1]))

SyntaxError: invalid non-printable character U+2003 (2255170543.py, line 3)

In [4]:
s = {'data1' : 100, 'data2' : 54,'data3' : 247}
print(d.keys())

SyntaxError: invalid non-printable character U+2003 (1642733127.py, line 1)

In [7]:
d = {"data1" : 100, "data2" : 54, "data3" : 247}
print(sum(d.values()))

401

In [12]:
d = {"data1" : 100, "data2" : 54, "data3" : 247}
print(d.items(), key = lambda x:sum(x[1]))
d

TypeError: 'key' is an invalid keyword argument for print()

In [3]:
#Write a program that reads through any dictionary given below and prints the following:
#(a) All the users whose phone number ends in an 8
#(b) All the users that don’t have an email address listed
d = [{ ' name ' : ' Todd ' , ' phone ' : ' 555-1414 ' , ' email ' : ' todd@mail.net ' },
     { ' name ' : ' Helga ' , ' phone ' : ' 555-1618 ' , ' email ' : ' helga@mail.net ' },
     { ' name ' : ' Princess ' , ' phone ' : ' 555-3141 ' , ' email ' : '' },
     { ' name ' : ' LJ ' , ' phone ' : ' 555-2718 ' , ' email ' : ' lj@mail.net ' }]

SyntaxError: invalid non-printable character U+2003 (1502903209.py, line 5)

In [33]:
d = [{ ' name ': ' todd ', ' phone ': ' 555-1414 ', ' email ': ' todd@mail,net ' },
     { ' name ': ' helga ', ' phone ': ' 555-1618 ', ' email ': ' helga@mail.net ' },
     { ' name ': ' princess ', ' phone ': ' 555-3141 ', ' email ': ''},  
     { ' name ': ' lj ', ' phone ': ' 555-2718 ', ' email ': ' lj@mail.net ' }]

for i in d:
    if i[' phone '][-2] == '8':
        print(i[' name '])
for i in d:
    if i[ ' email '] == '':
        print(i[' name '])

 helga
 lj
 princess

In [4]:
#A list is supposed to contain first n natural numbers in it. But one number is missing in the list. so, we have n-1 elements in the list. How do you find the missing element?
n = int(input())
l1 = []
l = [] 
for i in range(1,n+1):
    l.append(i)

for i in range(1, n):
    l1.append(int(input()))

for i in l:
    if i not in l1:
        print(i)

 5
 3
 1
 2
 4

5
[1, 2, 3, 4, 5]

In [7]:
#How do you check two lists are having the same set of values and the same number of values?
l = [123, 234, 34, 34, 34, 34, 0, 0, 0, 0, 0, 5555555]
l1 = [1123, 234, 34, 34, 34, 34, 0, 0, 0, 0, 0, 5555555]
print(len(l) == len(l1))
print(l == l1)

True
False

In [20]:
#3. A list of email ids(strings) given, and assume there is a third-party function "send_email()" is available. Imagine "send_email(email id, msg)" takes email address and message as parameters.For instance, send_email('john@abc.com', 'Welcome to my birthday!') sends a message 'Welcome to my birthday!' to 'john@abc.com'. Write a program to send an invitation message, to all the email ids in the list. Do not send message to email ids having hotmail.com in it.
emails = ['john.deer@gmail.com',
          'alex.barner@yahoo.com',
          'brad.cooper@hotmail.com',
          'cindy.barner@hotmail.com',
          'matt.damon@gmail.com',
          'george.cloony@yahoo.com',
          'mc.barner@hotmail.com']
for i in emails:
    if "hotmail.com" not in i:
        print("welcome to my party")

SyntaxError: invalid non-printable character U+2003 (718608090.py, line 3)

In [27]:
emails = ['john.deeragmail.com',
          'alex.barner@yahoo.com',
          'brad.copper@hotmail.com',
          'cindy.damon@mhotmail.com',
          'matt.damon@gmail.com',
          'george.cloony@yahoo.com',
          'mc.barner@hotmail.com']
for i in emails:
    if 'hotmail' not in i:
        print("wlecome to my birthday party")

wlecome to my birthday party
wlecome to my birthday party
wlecome to my birthday party
wlecome to my birthday party

In [58]:
#4. Below are the customer ids and deposits are done by customers on a typical day of a bank. Write a program to answer the following.
#How many distinct customers deposited the money?
#Who deposited a maximum number of times?
#Who deposited the maximum sum of deposits?
#Who deposited the maximum amount in a single transaction?
#Print all Customer Id's and list of deposits done by each customer.
#Print total balance at the end of the day.
l = []
d = dict()
t =[(1237,87522),
     (1234,1000),
     (1236,6754),
     (1234,200),
     (1236,1700),
     (1234,400),
     (1234,600),
     (1236,788),
     (1234,500),
     (1237,125677)]

for _id, amount in t:
    if _id not in d:
        d[_id] = [amount]
    else:
        d[_id].append(amount)
print(len(d))
print(max(d.items(), key=lambda x:len(x[1])))
print(max(d.items(), key=lambda x:sum(x[1])))
print(max(d.items(), key=lambda x:max(x[1])))
print(d) 
total = 0
for _id, amt in t:
    total += amt
print("total end of the day amount:", total)

3
(1234, [1000, 200, 400, 600, 500])
(1237, [87522, 125677])
(1237, [87522, 125677])
{1237: [87522, 125677], 1234: [1000, 200, 400, 600, 500], 1236: [6754, 1700, 788]}
total end of the day amount: 225141

In [1]:
#5. List of votes, contestants and ages are given. Write a program to find the contestant who wins the elections. If there is a tie, older contestant wins.
v = ['kenny','amanda','john','vicky','alex',
     'amanda','john', 'alex','kenny','vicky',
     'charles','alex','kenny','eric','charles',
     'eric','laura','eric','michell','vicky']
age = {
        'kenny': 61,
        'amanda': 54,
        'alex': 79,
        'john': 80,
        'vicky': 34,
        'eric': 50,
        'laura': 55,
        'michelle': 42,
        'charles': 70
        }
l1 = []

d = {}
for i in v:
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1
        
max_rec = max(d.items(), key=lambda x: x[1])
list_max_rec = [i for i in d if d[i] == max_rec[1]]

for i in list_max_rec:
    l1.append([i, age[i]])

max_rec1 = max(l1, key=lambda x: x[1])
list_max_rec1 = [i for i, j in l1 if j == max_rec1[1]]
list_max_rec1

['alex']

In [1]:
max_rec = max(d.items(), key=lambda x: x[1])
tie = []
for i in d:
    if d[i] == max_rec[1]:
        tie.append([i, age[i]])
        
max_rec_1 = max(tie, key=lambda x: x[1])

for i, j in tie:
    if j == max_rec_1[1]:
        print(i)
tie

NameError: name 'd' is not defined

In [2]:
votes = ['kenny','amanda','john','vicky','alex',
     'amanda','john', 'alex','kenny','vicky',
     'charles','alex','kenny','eric','charles',
     'eric','laura','eric','michell','vicky']
age = {
        'kenny': 61,
        'amanda': 54,
        'alex': 79,
        'john': 80,
        'vicky': 34,
        'eric': 50,
        'laura': 55,
        'michelle': 42,
        'charles': 70
        }
votes1 = dict()
for i in votes:
    if i not in votes1:
        votes1[i] = 1
    else:
        votes1[i] += 1
max_votes = max(votes1.items(),key=lambda x:x[1])
tie1 = []

for i in votes1:
    if votes1[i] == max_votes[1]:
        tie1.append((i,age[i]))
max_votes = max(tie1, key=lambda x:x[1])

for i,j in tie1:
    if j == max_votes[1]: 
        print(i)

SyntaxError: expected ':' (1353226321.py, line 31)

In [13]:
max_votes

('alex', 79)

In [21]:
n = int(input())
if n % 2 ==0:
    print("even")
else:
    print("odd")

 5

odd

In [34]:
rkffkr

[2, 4, 6, 8, 10]

In [7]:
#Write a function that takes a single argument, prints the value of the argument, and returns the argument as a string.
'''def arg(n):
    k = "annam"
    return k + " sai"
print(arg("annam"))'''
def arg(n):
    f = 0
    for i in range(1,n+1):
        f += i
    return f
str(arg(5))

'15'

In [11]:
#Write a function "change_case" that given a string, returns a string with each upper case letter replaced by a lower case letter and vice-versa.
def num(n):
    k = n.swapcase()
    return k
print(num("annam"))

ANNAM

In [20]:
#Write a function "remove_vowels" that takes a single argument (string) to remove all the vowels and print it.
def vowel_remover(st):
    st1 = ''
    for i in st:
        if i.lower() not in 'aeiou':
            st1 += i
    return st1
        
    
vowel_remover(input('enter string: '))

enter string:  sai annam

's nnm'

In [2]:
#Write a program to convert the given integer into binary and vice versa.
def integer(n):
    if n >= 1:
        integer(n//2)
        print(n%2,end="")
n1 = int(input())
integer(n1)

 4

100