In [2]:
a=int(input("enter age"))
if a>18:
    print("you are eiglible")
else:
    print("you are not eiglible")

enter age 10

you are not eiglible

In [4]:
age=int(input("enter age"))
if age>18:
    print("greater than 18 youth")
else:
    print("less than 18 not youth")

enter age 10

less than 18 not youth

In [ ]:
age=int(input("enter age"))
if age<20:
    print("upper")
lif:
    print

In [10]:
age = int(input('enter the age:'))

if aprintge < 20:
    ("upper berth")

elif age > 20 and age < 40:
    print('middle berth')
else:
    print('lower berth')

enter the age: 33

middle berth

In [13]:
age = int(input('enter the age:'))

if age < 20:
     print ("upper ")
elif age >20 and age < 30:
    print ("side upper")
elif age > 30 and age < 40:
    print ("middle")
elif age >40 and age < 50:
    print ("lower")
else:
    print ("side lower")

enter the age: 30

side lower

In [20]:
age = int(input("enter age "))
gender = str(input("enter the gender"))

if age <20:
    if gender == 'male':
        print("uper")
    else:
        print("side upper")
elif age >20 and age < 40:
    if gender == 'male':
        print ("middle")
    else:
        print("side middle")
else:
    print("lower")

enter age  55
enter the gender male

lower

In [23]:
r_amount = int(input("enter the amount"))
w_amount = int(input("enter the amount"))
if r_amount == w_amount:
    print("money has be deb")
elif r_amount > w_amount:
    print('INSUFFICIENT FUNDS')
else:
    print("more than amount")

enter the amount 55
enter the amount 55

money has be deb

for i in range(start, stop, step)

In [29]:
for a in range(4,20,4):
    print(a)

4
8
12
16

In [ ]:
print(a*1) --> even
print(a*2) --> odd

In [32]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i*1)
    else:
        print(i*2)

2
2
6
4
10
6
14
8
18
10
22
12
26
14
30
16
34
18
38
20

In [2]:
for a in range (1,100):
    if a % 2 == 0:
        print(a*5)
    else:
        print(a*10)

10
10
30
20
50
30
70
40
90
50
110
60
130
70
150
80
170
90
190
100
210
110
230
120
250
130
270
140
290
150
310
160
330
170
350
180
370
190
390
200
410
210
430
220
450
230
470
240
490
250
510
260
530
270
550
280
570
290
590
300
610
310
630
320
650
330
670
340
690
350
710
360
730
370
750
380
770
390
790
400
810
410
830
420
850
430
870
440
890
450
910
460
930
470
950
480
970
490
990

In [38]:
for a in range(1,100):
    if a % 2 == 0:
        print(a+5)
    else:
        print(a+10)

11
7
13
9
15
11
17
13
19
15
21
17
23
19
25
21
27
23
29
25
31
27
33
29
35
31
37
33
39
35
41
37
43
39
45
41
47
43
49
45
51
47
53
49
55
51
57
53
59
55
61
57
63
59
65
61
67
63
69
65
71
67
73
69
75
71
77
73
79
75
81
77
83
79
85
81
87
83
89
85
91
87
93
89
95
91
97
93
99
95
101
97
103
99
105
101
107
103
109

In [44]:
for a in range(1,100):
    if a % 5 ==0:
        print(a+1)
    else:
        print(a-1)

0
1
2
3
6
5
6
7
8
11
10
11
12
13
16
15
16
17
18
21
20
21
22
23
26
25
26
27
28
31
30
31
32
33
36
35
36
37
38
41
40
41
42
43
46
45
46
47
48
51
50
51
52
53
56
55
56
57
58
61
60
61
62
63
66
65
66
67
68
71
70
71
72
73
76
75
76
77
78
81
80
81
82
83
86
85
86
87
88
91
90
91
92
93
96
95
96
97
98

In [52]:
for a in range(20,1,-1):
    if a % 5 ==0:
        print(a+1)
    else:
        print(a-1)

21
18
17
16
15
16
13
12
11
10
11
8
7
6
5
6
3
2
1

In [54]:
for a in range(20,1,-1):
    if a % 10 == 0:
        print(a+1)
    else:
        print(a-1)

21
18
17
16
15
14
13
12
11
10
11
8
7
6
5
4
3
2
1

In [58]:
n=int(input("enter a number"))
for a in range(1,n):
    if a % 2 == 0:
        print(a+1)
    else:
        print(a-1)

enter a number 5

0
3
2
5

In [59]:
n = int(input("enter a number"))
for a in range(n,1,-1):
    if a % 2 == 0:
        print(a+1)
    else:
        print(a-1)

enter a number 6

7
4
5
2
3

In [2]:
n = int(input("enter a number"))
c = 0
for i in range(1, 25):
    for a in range(1, i+1):
        if i % a == 0:
            c += 1
            break
if c == 2:
    print(i, "prime")
else:
    print(i, "not prime")
    c == 0

1 not prime
2 not prime
3 not prime
4 not prime
5 not prime
6 not prime
7 not prime
8 not prime
9 not prime
10 not prime
11 not prime
12 not prime
13 not prime
14 not prime
15 not prime
16 not prime
17 not prime
18 not prime
19 not prime
20 not prime
21 not prime
22 not prime
23 not prime
24 not prime

In [68]:
24 %

0

In [ ]:
5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [6]:
n = int(input())
for i in range (1,n+1,-1):
    for j in range(1,i+1):
        print(" * ", end=" ")
        print()

 5

In [59]:
n = int(input())
c = n
for i in range(1, n+1):
    for j in range(1, i):
        print('*', end= ' ')
    for k in range(i, n+1):
        print( c, end=' ')
        c -= 1
    c = n - i
    print()

 5

5 4 3 2 1
* 4 3 2 1
* * 3 2 1
* * * 2 1
* * * * 1

In [ ]:
* 5 4 3 2 1
* * 4 3 2 1
* * * 3 2 1
* * * * 2 1
* * * * * 1

In [71]:
n = int(input())
c = n
for i in range (1,n+1):
    for j in range(1, i+1):
        print("*",end =" ")
    for k in range(i,n+1):
        print(c ,end=" ")
        c -=1
    c=n-i
    print()

 5

* 5 4 3 2 1
* * 4 3 2 1
* * * 3 2 1
* * * * 2 1
* * * * * 1

In [ ]:
5 * * * *
5 4 * * *
5 4 3 * *
5 4 3 2 *
5 4 3 2 1

In [104]:
n = int(input())
c = n
for i in range(1,n+1):
    for j in range(1,i+1):
        print(c, end= ' ')
        c -= 1
    for k in range(i,n):
        print("*",end=" ")
    c = n
    print()

 5

5 * * * *
5 4 * * *
5 4 3 * *
5 4 3 2 *
5 4 3 2 1

In [125]:
n = int(input())
c = n
for i in range(1,n+1):
    for j in range(1,i+1):
        print(c, end= ' ')
        c -= 1
    for k in range(i,n):
        print("*",end=" ")
    for m in range(1, i+1):
        print('*', end=' ')
    c = n
    print()

 5

5 * * * * *
5 4 * * * * *
5 4 3 * * * * *
5 4 3 2 * * * * *
5 4 3 2 1 * * * * *

5 * * * * * * * * *
5 4 * * *   * * * *
5 4 3 * *     * * *
5 4 3 2 *       * * 
5 4 3 2 1         *

In [147]:
n = int(input())
c = n
for i in range(1, n+1):
    for j in range(1,i+1):
        print(c,end=" ")
        c -= 1
    for k in range(i,n):
        print("*",end=" ")
    for m in range (1,i):
        print("*",end=" ")
    for o in range(i,n+1):
        print("*",end=" ")
    c = n
    print()

 5

5 * * * * * * * * *
5 4 * * * * * * * *
5 4 3 * * * * * * *
5 4 3 2 * * * * * *
5 4 3 2 1 * * * * *

In [18]:
n = int(input())
for i in range(n, 0, -1):
    for j in range(n, i-1, -1):
        print(j, end=" ")
    print()

 5

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [25]:
n = int(input())
for i in range(1, n+1):
    for j in range(n, i-1, -1):
        print(j, end=" ")
    print()

 5

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [28]:
n = int(input())
for i in range(1, n+1):
    for j in range(1, n+1):
        print("*", end=" ")
    print()

 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [155]:
n = int(input('Enter n value'))
d = n
for i in range(i, n + 1):
    for j in range(1, n |+ 1):
        print(d, end='')
    d -= 1
    d = n
    print()

Enter n value 5

5555

In [12]:
n = int(input())
for i in range(1, n + 1):
    for j in range(1, i):
        print('*', end = ' ')
    for k in range(i, n + 1):
        print(i, end=' ')
    print()

 5

1 1 1 1 1
* 2 2 2 2
* * 3 3 3
* * * 4 4
* * * * 5

In [11]:
n = int(input())
for i in range (1,n+1):
    for j in range(1,i+1):
        print('*',end=" ") 
    print()

 5

*
* *
* * *
* * * *
* * * * *

In [35]:
l = [3, 4, 5, 6, 1, 9, 10, 8, 5, 2, 3, 5, 2, 1, 5]
for i in l:
    if i == 5:
        l.remove(i)
l

[3, 4, 6, 1, 9, 10, 8, 2, 3, 2, 1]

In [40]:
l1 = [1, 2, 4, 7, 8, 9]
l2 = [1, 2, 4, 7, 8, 9] 
l3 = l2
print(l2 is l3)
l4 = l1.copy()
print(l4 is l1)

True
False

In [41]:
l4 = l1.copy()
l4

[1, 2, 4, 7, 8, 9]

In [33]:
#Given an input list, write a program to remove the element at index 4 and add it to the 2nd position and also, at the end of the list.
# Sample Input
l = [54, 44, 27, 79, 91, 41]
k = l.pop(4)
l[2] = k
l.append(k)
print(l)

[54, 44, 91, 79, 41, 91]

In [6]:
l =[]
l1 = []
for i in range(1,100):
    if i % 2==0:
        l.append(i)
    else:
        l1.append(i)
        
print(l, end=" ")
print(l1,end=" ")

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98] [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [12]:
l = [12, 23, 34, 45, 12, 23, 34, 45, 21, 32, 43, 54]
l1 = []
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        ...
l1

[12, 23, 34, 45, 21, 32, 43, 54]

In [33]:
#A milk vendor buys milk at the rate of 3.25/lt then adds a litre of water for every 
#4 litres of milk and sells the water milk at the rate of 4.15/lt. Calculate the gain 
#for milk vendor.

n = float(input())
m_r = 3.25
s_p = 4.15
if n < 4:
    print(round((n*(4.15-3.25)), 2))
else:
    water = n // 4
    print(round(((n * 4.15) + (water * 3.25) - (n * 3.25)), 2))

 100

171.25

In [29]:
8 * 4.15 - 8*3.25

7.200000000000003

In [28]:
8 * 4.15

33.2

In [11]:
l = []
l1 = []
c = 0
for i in range(1 ,101):
    for j in range(1, i):
        if i % j == 0:
            c += 1
            l1.append(i)
            break
    else:
        l.append(i)
print(l,end=" ")
print(l1,end=" ")

[1] [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [32]:
l = [2,8,4,84,51,84,5,84,5,1,84,41]

for i in l:
    for i in range(0, len(l)-1):
        if l[i] < l[i+1]:
            ...
        else:
            l[i], l[i+1] = l[i+1], l[i]
l

[1, 2, 4, 5, 5, 8, 41, 51, 84, 84, 84, 84]

In [5]:
from collections import Counter

l1 = []
l2 = []
l = list(map(int, input().split(',')))
n = len(l)
for i in l:
    for j in range(1,i+1):
        if i % j == 0:
            l1.append(i)
l1.sort()
for i in Counter(l1):
    if Counter(l1)[i] == n:
        l2.append(i)
l2[-1]

 5,6,7

IndexError: list index out of range